<!-- <p>testing</p>
<ng-container *ngFor="let item of myItems">
  <div class="card">
    <div class="card_image"><img src="{{item.link}}"></div>
    <div class="card_content">
      <h2 class="card_title">{{item.title}}</h2>
      <p class="card_text">{{item.description}}</p>
    </div>
  </div>
</ng-container> -->


<div style="text-align:center;overflow-y:scroll; height: 500px;" (scroll)="onScroll($event)">
          <h1>Responsive Card Grid Layout WIth Detecting Script Widget Box On the Page.</h1>
          <!-- <cdk-virtual-scroll-viewport itemSize="5" class="viewport">
          <ul class="cards" *ngFor="let item of myItems">
              <li class="cards_item" >
                <div class="card">
                  <div class="card_image"><img src="{{item.link}}"></div>
                  <div class="card_content">
                    <h2 class="card_title">{{item.title}}</h2>
                      <p class="card_text">{{item.description}}</p>
                  </div>
                </div>
              </li>
          </ul>
        </cdk-virtual-scroll-viewport> -->
          <ul class="cards">
              <li class="cards_item" *ngFor="let item of iterable">
                <div class="card">
                  <div class="card_image"><img src="{{item.link}}"></div>
                  <div class="card_content">
                    <h2 class="card_title">{{item.title}}</h2>
                      <p class="card_text">{{item.description}}</p>
                   </div>
               </div>
              </li>
          </ul>
    </div>
