/* You can add global styles to this file, and also import other style files */
    /* Font */
    @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

    /* Design */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
    html {
      background-color: #ecf9ff;
    }
    
    body {
      color: #272727;
      font-family: 'Quicksand', serif;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0;
      padding: 1rem;
    }
    
    .main{
      max-width: 1200px;
      margin: 0 auto;
    }
    
    h1 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }
    
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
    
    .btn {
      color: #ffffff;
      padding: 0.8rem;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 400;
      display: block;
      width: 100%;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: transparent;
    }
    
    .btn:hover {
      background-color: rgba(255, 255, 255, 0.12);
    }
